@import './breakpoint.scss';

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #0a3d62;
    padding: 20px 50px;
    color: #ecf0f1;

    .footer-top {
        display: flex;
        gap: 40px;

        .footer-left {
            width: 60%;

            p {
                text-align: justify;
            }

            .icons {
                font-size: 30px;
                display: flex;
                gap: 20px;
                margin-top: 5px;

                .icon {

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            @include md {
                display: none;
            }
        }

        .footer-midlle {
            width: 30%;

            ul {
                li {
                    padding: 5px 0;
                }
            }

            @include md {
                width: 70%;
                font-size: 13px;
            }
        }

        .footer-right {
            width: 10%;

            ul {
                li {
                    padding: 5px 0;

                    &:hover {
                        cursor: pointer;
                        font-weight: 500;
                    }
                }
            }

            @include md {
                width: 30%;
                font-size: 13px;
            }
        }
    }

    .footer-bottom {
        text-align: center;

        @include md {
            font-size: 15px;
        }
    }


}