@import './breakpoint.scss';

.homepage-container {

    .image {
        img {
            width: 100%;
            height: 65vw;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        background-color: #ecf0f1;

        .title {
            text-align: center;
            font-size: 30px;
            padding: 20px 0;
            font-weight: 700;
            color: #2c3e50;

            @include ml {
                font-size: 23px;
            }
        }

        .description {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding: 50px 100px;

            @include lg {
                padding: 50px 70px;
            }

            @include md {
                padding: 50px 30px;
            }

            .topic {
                justify-content: center;

                .icon {
                    font-size: 35px;
                    color: #2c3e50;

                    @include lg {
                        font-size: 25px;
                    }

                    @include md {
                        font-size: 20px;
                    }
                }

                .quantity {
                    color: #2c3e50;
                    font-size: 45px;
                    font-weight: 500;

                    @include lg {
                        font-size: 35px;
                    }

                    @include md {
                        font-size: 25px;
                    }
                }

                .role {
                    color: #34495e;
                    font-size: 25px;
                    font-weight: 400;

                    @include lg {
                        font-size: 17px;
                    }

                    @include md {
                        font-size: 12px;
                    }

                }
            }
        }
    }
}