@import './breakpoint.scss';

.manage-state-container {
    display: flex;
    flex-direction: column;

    font-size: 17px;

    .manage-semester {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}