@import './breakpoint.scss';

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
    background-color: #0a3d62;
    padding: 3px 50px;

    @include md {
        height: 70px;
        padding: 3px 20px;
    }

    .navbar_left {
        display: flex;
        align-items: center;

        a {
            font-size: 30px;
            font-weight: 600;
            color: white;

            &:hover {
                cursor: pointer;
            }

            @include lg {
                display: none;
            }
        }

        img {
            max-width: 150px;

            @include md {
                max-width: 75px;
            }
        }
    }

    .navbar_midlle {
        a {
            padding: 0 20px;
            font-size: 20px;
            color: white;

            &:hover {
                font-weight: 600;
                cursor: pointer;
            }

            @include md {
                font-size: 15px;
            }
        }
    }

    .navbar_right {

        margin-right: 20px;

        .dropdown-profile {
            position: relative;
            align-items: center;

            .profile {
                font-size: 35px;
                color: white;
            }

            .nav-profile-dropdown {
                position: absolute;
                display: none;
                right: 0;

                li {
                    list-style: none;
                    font-size: 20px;
                    color: white;

                    &:hover {
                        cursor: pointer;
                        font-weight: 600;
                    }
                }
            }

            &:hover {
                cursor: pointer;

                .nav-profile-dropdown {
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(45, 52, 54, 0.8);
                    border-radius: 8px;
                    padding: 8px 20px;
                }
            }
        }

        a {
            padding: 0px 2px;
            font-size: 20px;
            color: white;

            @include md {
                font-size: 15px;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }
}